/*
Doc Database Styles*/

@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');
body {

 font-family: 'Comfortaa', cursive;
	font-size: 15px;
background: #060B5C;
background: -moz-linear-gradient(top, #060B5C 0%, #289FED 50%, #F05973 100%);
background: -webkit-linear-gradient(top, #060B5C 0%, #289FED 50%, #F05973 100%);
background: linear-gradient(to bottom, #060B5C 0%, #289FED 50%, #F05973 100%);
	color: white;
}
h1 {
	font-family: 'Comfortaa', cursive;
    text-align: center
    
}
table, th, td {
	vertical-align: top;
}

